<%- include('../partials/header') %>

    <div>
        <main class="form-container">
            <div>
                <h1>FIRSTLY, YOU HAVE TO REGISTER AND SIGN IN </h1>
            </div>
        </main>
    </div>